.loader__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #15223D;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px dashed red;
    animation: rotate 4s infinite linear;
} 

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
    }
    to {
        transform: rotate(360deg) scale(1);
    }
}