* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pokemon';
    src: url("../assets/fonts/Pokemon\ Hollow.ttf");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon';
    src: url("../assets/fonts/Pokemon\ Solid.ttf");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

#root {
    display: flex;
    justify-content: center;
    background: #15223D;
    width: 100vW;
    height: 100vh;
}